<div id="footer">
      <div class="container">
        <p class="text-muted credit">Build with love to nodejs, Expressjs and EJS-JavaScript Templates by  <a href="#">Mohamed Amine SELMI</a> .</p>
      </div>
    </div>