    <!-- START FOOTER -->
 <footer>
  		<div class="footer-background">
  			<div class="container">
					<ul>
						<li>
							<a href="#">Facebook</a>
						</li>
						<li>
							<a href="#">Twitter</a>
						</li>
            <li>
              <a href="#">Instagram</a>
            </li>
						<li>
							<a href="#">Linkedin</a>
						</li>
					</ul>
          <p>Made with love to Nodejs,Express,Bootstrap and Gulp by <a href="#">Mohamed Amine SELMI </a></p>
  			</div><!-- end container -->
  		</div>
  	</footer>

      <!-- END FOOTER -->
