 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="Porfolio Site Of Mohamed-Amine SELMI">
  <meta name="author" content="Mohamed Amine SELMI">
  <link rel="icon" href="fav_icon.gif">


<title>MedXAmine</title>
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/bower_components/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/bower_components/owl-carousel/dist/assets/owl.theme.default.min.css">


<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/bower_components/magnific-popup/dist/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main_responsive.css" />



