@media only screen and (max-width: 768px){

	.aboutWrapper {
	    text-align: center;
	}

	.aboutWrapper img {
	     
	     margin : auto;
		    float: none;
	}

	.about-text {

	  padding-left: 0px;
	  
	}

	.aboutWrapper p {
    text-align: left;
}

}