@media only screen and (max-width: 768px) {

  .aboutWrapper {
    text-align: center;
  }

  .aboutWrapper img {

    margin: auto;
    float: none;
  }

  .about-text {

    padding-left: 0px;

  }

  .aboutWrapper p {
    text-align: left;
  }

  .post-box {
    padding: 0 15px;
    text-align: left;
  }

  .imageWrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .blogWrapper h2 {
    float: none;
  }

  .customNavigation {
    margin-bottom: 20px;
    text-align: center;
  }

  .intro-content h2{
  font: 17px/1.9em 'Raleway', sans-serif;
  width: 90%;
}

.intro-content h1{
  font: 20px/1.1em 'Open Sans', sans-serif;
  margin: 0 auto 24px auto;
}

#resume h1 {
  font: 22px/24px 'Open Sans', sans-serif;
  letter-spacing: 3px;
}

.section-title {
  font-size: 16px;
  line-height: 24px;
  width: 260px !important;
}
}