<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>


    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" id="home">
                <img class="first-slide"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="First slide">
                <div class="container">
                    <div class="carousel-caption">

                        <div class="intro-content">
                            <h1>HELLO<br>
                                I'm <span>Amine SELMI </span></h1>
                            <h2>I'm a passionate <span>Web developer</span> and <span>Software Developer</span> creating
                                modern and responsive design for <span>Web</span> and <span>Mobile</span>. <br> Let's
                                start and learn more about me.</h2>
                            <p class="social-media hidden-xs">

                                <a href="https://twitter.com/MohamedAmineSe" class="fa fa-twitter fa-lg"
                                    data-toggle="tooltip" title="Twitter" target="_blank"></a>
                                <a href="https://linkedin.com/in/medxamine" class="fa fa-linkedin fa-lg"
                                    data-toggle="tooltip" title="Linkedin" target="_blank"></a>

                            </p>
                            <!-- Social Media Icons [ END ] -->
                            <div class="arrow-down bounce">
                                <a href="#about">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--    <div class="item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                  </div>
                </div>
              </div> -->
        </div>

    </div>
    <!-- /.carousel -->


    <!-- About / Skills section -->

    <section id="about">
        <div class="about-background">
            <div class="container">
                <h2>About Me</h2>
                <div class="row">
                    <div class="aboutWrapper col-xs-12 col-sm-6">
                        <img src="/images/prof.jpg" alt="" class="img-responsive" alt="Responsive image">
                        <div class="about-text">
                            <h3>I'm a Web developer</h3>
                            <p>Hello! I’m Senior Software/Web Developer specializing in ASP.NET MVC and MEAN STACK
                                development. Experienced with all stages of the development cycle for dynamic web
                                projects. Well-versed in numerous programming languages including JavaScript, SQL, and
                                C#. Stng background in project management and customer relations. .</p>
                        </div>
                    </div>
                    <div class="skillsWrapper col-xs-12 col-sm-6">
                        <!-- Skill 1 -->
                        <div id="skill-box">
                            <h4>ASP.NET MVC</h4>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" data-percent="95" style="width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Skill 2 -->
                        <div id="skill-box">
                            <h4>JS/HTML5/CSS3</h4>
                            <div class="progress">
                                <div class="progress-bar" data-percent="90" style="width: 90%;">
                                    <span>90%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Skill 3 -->
                        <div id="skill-box">
                            <h4>NODEJS</h4>
                            <div class="progress">
                                <div class="progress-bar" data-percent="80" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Skill 4 -->
                        <div id="skill-box">
                            <h4>Linux Administration</h4>
                            <div class="progress">
                                <div class="progress-bar" data-percent="85" style="width: 85%;">
                                    <span>85%</span>
                                </div>
                            </div>
                        </div>
                        <!-- end Skill 4 -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end about-background -->
    </section>
    <!-- end About Section -->


    <hr class="featurette-divider">

    <!----Resume Section
        ==================================================-->
    <section id="resume">
        <h1 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            Resume</h1>
        <!-- Education
              =============================================== -->
        <div class="row education">

            <div class="three columns header-col">
                <h2><span>Education</span></h2>
            </div>

            <div class="nine columns main-col">
                <div class="education-timeline">
                    <ul class="timeline wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">September 2008 - Juin 2010</p>
                                <h3>National Engineering School Of Tunis, Tunisia</h3>
                                <h4>Computer Science &amp; Engineering</h4>
                                <p><strong>Grade A+</strong><br>
                                    Completed graduation from National Engineering School Of Tunis with the major of
                                    Computer Science &amp; Engineering.</p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">September 2004 - Juin 2008</p>
                                <h3>University of Science Of Bizerte, Tunisia</h3>
                                <h4>Computer Science Licence</h4>
                                <p><strong>Grade A++</strong><br>
                                    Completed graduation from University of Science Of Bizerte, Tunisia with and
                                    finished with A++.</p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">Juin 2004</p>
                                <h3>College OF Ibn al-Haytham, Tunisia</h3>
                                <h4>Mathematical Section </h4>
                                <p><strong>Grade A</strong><br>
                                    Completed A Level from College of Ibn al-Haytham with and finished with A Level.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- Education Timeline End -->
            </div> <!-- main-col end -->

        </div> <!-- End Education -->


        <!-- Work
              ========================================= -->
        <div class="row work">

            <div class="three columns header-col">
                <h2><span>Employment</span></h2>
            </div>

            <div class="nine columns main-col">

                <div class="work-timeline">
                    <ul class="timeline">
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">February 2015 - Present</p>
                                <h3>Adservio, Paris</h3>
                                <h4>Sofware &amp; web Developer</h4>
                                <p>Technical Environment : ASP.NET CORE 2, AngularJS, REST, JS, GULP, WEBPACK,
                                    EXPRESSJS, HEROKU Postman, NodeJs, Shell, Linux, Virtualization, SQL, C++, JAVA,
                                    GIT, GitKraken, Visual Code </p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">Juin 2010 - December 2014</p>
                                <h3>Focus International, Tunisia </h3>
                                <h4>Full Stack Web Developer</h4>
                                <p>Technical Environment : ASP.NET 4, WPF, SQL SERVER, REST, Fiddler, JqueryMobile,
                                    Visual Studio, SVN, C#, Android, Eclipse. </p>
                            </div>
                        </li>
                        <!-- <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                          <h3>Amazing Developers</h3>
                          <h4>Front-End Developer</h4>
                          <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                        </div>
                      </li> -->
                    </ul>
                </div> <!-- Work Timeline End -->
            </div> <!-- main-col end -->

        </div> <!-- End Work -->


        <!-- certification
              ========================================= -->
        <div class="row certification">

            <div class="three columns header-col">
                <h2><span>Certification</span></h2>
            </div>

            <div class="nine columns main-col">

                <div class="work-timeline">
                    <ul class="timeline">
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">December 2018 - Present</p>
                                <h3>Red Hat Certified System Administrator</h3>
                                <h4>Linux</h4>
                                <p>Demonstrated Skills : Managing files via cli, Controlling services and daemons,
                                    Analyzing and storing logs,...</p>
                            </div>
                        </li>
                        <li class="timeline-event">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">23 April 2018 - present</p>
                                <h3>Exam 480: Programming in HTML5 with JavaScript and CSS3 </h3>
                                <h4>Microsoft</h4>
                                <p>Demonstrated Skills : CSS3, HTML 5, JavaScript, Visual Studio, Web Application.</p>
                            </div>
                        </li>
                        <!-- <li class="timeline-event">
                       <label class="timeline-event-icon"></label>
                       <div class="timeline-event-copy">
                         <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                         <h3>Amazing Developers</h3>
                         <h4>Front-End Developer</h4>
                         <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                       </div>
                     </li> -->
                    </ul>
                </div> <!-- Work Timeline End -->
            </div> <!-- main-col end -->

        </div> <!-- End Work -->

    </section>
    <!--================== Resume Section End================ -->

    <!--================== Portfolio Section ================ -->
    <section id="portfolio">

        <div class="row">

            <div class="twelve columns collapsed">

                <h1 class="section-title wow fadeInDown animated"
                    style="visibility: visible; animation-name: fadeInDown;">Some of My Works</h1>

                <!-- portfolio-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf wow fadeIn animated"
                    style="visibility: visible; animation-name: fadeIn;">

                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-01" title="">
                                <img alt="" src="images/pcp-logon.png">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Personal Car Portal</h5>
                                        <p>Mobile Web Application application</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-02" title="">
                                <img alt="" src="images/car_status.png">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>GPA</h5>
                                        <p>Android Application</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-03" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Webdesign</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-04" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Photography</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-05" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Branding</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-06" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Photography</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-07" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Illustrration</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item" style="display: none;">
                        <div class="item-wrap">

                            <a href="#modal-08" title="">
                                <img alt="" src="http://placehold.it/300x300">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio Title</h5>
                                        <p>Web Development</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                </div> <!-- portfolio-wrapper end -->

            </div> <!-- twelve columns end -->


            <!-- Modal Popup
            =============================================== -->

            <div id="modal-01" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/PCP-MP.png" alt="">

                <div class="description-box">
                    <h4>Personal Car Portal</h4>
                    <p>It's a mobile web application, that is used to personalize the radio Dashbord of a car.
                        developed with : .NET MVC 4, REST WEB-API and JQUERY-MOBILE.
                    </p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Web development</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button isDisabled">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-01 End -->

            <div id="modal-02" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/clim_configuration.png" alt="">

                <div class="description-box">
                    <h4>GPA</h4>
                    <p>An Android Application that synchronize your car radio configurations 
                        to a car radio Dashboard and it allows also to open and close your car via NFC.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Android Development</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button isDisabled">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-02 End -->

            <div id="modal-03" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-03 End -->

            <div id="modal-04" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Photography</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-04 End -->

            <div id="modal-05" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-05 End -->

            <div id="modal-06" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Photography</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-06 End -->

            <div id="modal-07" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-07 End -->

            <div id="modal-08" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="http://placehold.it/640x427" alt="">

                <div class="description-box">
                    <h4>This is title</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
                </div>

                <div class="link-box">
                    <a href="#" class="button">Live Demo</a>
                    <a class="popup-modal-dismiss button btn-close">Close</a>
                </div>

            </div><!-- modal-01 End -->


        </div> <!-- row End -->

    </section>

    <!-- Portfolio Section End -->
    <hr class="featurette-divider">
    <!-- START BLOG SECTION -->

    <section id="blog">
        <div class="blog-background">
            <div class="container">
                <div class="blogWrapper">
                    <div>
                        <h2>Recent Blog Posts</h2>
                        <!-- navigation -->
                        <div class="customNavigation">
                            <ul>
                                <li id="prev"><i class="fa fa-angle-left"></i></li>
                                <li id="next"><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                        <!-- end navigation -->
                    </div>
                    <!-- clearfix -->
                    <div class="clearfix"></div>
                    <!-- end clearfix -->
                    <div class="blog-content">
                        <div id="blogSlider" class="owl-carousel owl-theme">
                            <!-- Post 1 -->
                            <div class="item">
                                <div class="post-box">
                                    <div class="blog-post">
                                        <div class="imageWrapper">
                                            <a href="https://medxamineblog.herokuapp.com" target="_blank">
                                                <img src="images/Yeoman.png" alt="Yeoman">
                                                <div class="post-date">
                                                    <ul>
                                                        <li>Oct</li>
                                                        <li>23</li>
                                                        <li>2015</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <h3><a href="https://medxamineblog.herokuapp.com" target="_blank"> Scaffolding
                                                Web project with Yeoman</a></h3>
                                        <ul class="post-detail">
                                            <li><a href="#">Web developement</a></li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                        </ul>
                                        <p>Yeoman is a generator ecosystem. A generator is basically a plugin that can
                                            be run with the `yo` command to scaffold complete projects or useful parts.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <div class="blog-post">
                                        <div class="imageWrapper">
                                            <a href="https://medxamineblog.herokuapp.com" target="_blank">
                                                <img src="/images/teamcity-google-cloud.png" alt=" TeamCity">
                                                <div class="post-date">
                                                    <ul>
                                                        <li>May</li>
                                                        <li>31</li>
                                                        <li>2018</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <h3><a href="https://medxamineblog.herokuapp.com" target="_blank">TeamCity:
                                                continuous integration & DevOps with .NET</a></h3>
                                        <ul class="post-detail">
                                            <li><a href="#">DevOps, Continuous Integration</a></li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                        </ul>
                                        <p>Today the technology sector is experiencing a boom throughout the world.
                                            There are hundreds of startups launching every day. In order to move fast -
                                            these startups need people who are skilled at automating as much as
                                            possible. Mostly progressive startups - favor implementing completely
                                            automated DevOps pipelines from the get go.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <div class="blog-post">
                                        <div class="imageWrapper">
                                            <a href="https://medxamineblog.herokuapp.com" target="_blank">
                                                <img src="/images/Angular7.png" alt="">
                                                <div class="post-date">
                                                    <ul>
                                                        <li>JAN</li>
                                                        <li>19</li>
                                                        <li>2019</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <h3><a href="https://medxamineblog.herokuapp.com" target="_blank">Web
                                                Development with TypeScript 3 and Angular 7</a></h3>
                                        <ul class="post-detail">
                                            <li><a href="#">Front end developement</a></li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                        </ul>
                                        <p>Angular 7 is a web development framework focused on writing component-based
                                            applications. TypeScript 3 allows us to develop applications in a higher
                                            language than JavaScript, avoiding common mistakes and leveraging the future
                                            features of JavaScript. Knowledge of the two make a great combination,
                                            helping you write maintainable, clean web applications code using the tools
                                            of our choice.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <div class="blog-post">
                                        <div class="imageWrapper">
                                            <a href="https://medxamineblog.herokuapp.com" target="_blank">
                                                <img src="/images/mean.png" alt="MEAN STACK">
                                                <div class="post-date">
                                                    <ul>
                                                        <li>Oct</li>
                                                        <li>20</li>
                                                        <li>2017</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <h3><a href="https://medxamineblog.herokuapp.com" target="_blank">Up and Running
                                                with Node.js</a></h3>
                                        <ul class="post-detail">
                                            <li><a href="#">Node.js</a></li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                        </ul>
                                        <p>Node.js is a JavaScript framework for writing server-side applications. Its
                                            non-IO blocking technology makes it perfect for creating highly scalable web
                                            applications built around user interaction. Node.js is a performance
                                            efficient server-side platform which makes writing backend code, simple and
                                            fun.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="post-box">
                                    <div class="blog-post">
                                        <div class="imageWrapper">
                                            <a href="https://medxamineblog.herokuapp.com" target="_blank">
                                                <img src="/images/rhcsa.png" alt="">
                                                <div class="post-date">
                                                    <ul>
                                                        <li>Dec</li>
                                                        <li>19</li>
                                                        <li>2018</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <h3><a href="https://medxamineblog.herokuapp.com" target="_blank">Tips for
                                                passing Red Hat Certified System Administrator (RHCSA) </a></h3>
                                        <ul class="post-detail">
                                            <li><a href="#">Linux, Red Hat</a></li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                        </ul>
                                        <p>Every Red Hat exam is a performance based, hands-on, practical exam. In the
                                            Exam your ability to perform routine system administration on Red Hat
                                            Enterprise Linux will be tested, Red hat will test you by having you perform
                                            routine system administration on Red Hat Enterprise Linux.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post 2 -->

                    <!-- Post 3 -->
                    <!-- Post 4 -->

                    <!-- Post 5 -->

                    <!-- end Post 5 -->
                </div>
            </div>
        </div>
        </div>
        <!-- end container -->
        </div>
    </section>

    <!-- END BLOG SECTION -->

    <hr class="featurette-divider">

    <!-- START CONTACT SECTION -->

    <section id="contact">
        <div class="contact-background">
            <div class="container">
                <h2>Get In Touch</h2>
                <div class="row">
                    <div class="contact-form col-xs-12 col-sm-6">

                        <form method="post" id="contactform">

                            <div class="input-style">
                                <input type="text" id="name" name="name" placeholder="Name">
                            </div>

                            <div class="input-style">
                                <input type="email" id="email" name="email" placeholder="E-Mail">
                            </div>

                            <div class="text-style">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>

                            <input type="submit" id="submit" class="submit-style" name="submit" value="Send Message">

                            <div class="submit-result">
                                <p id="success">Your Message has been sent!</p>
                                <p id="error">Something went wrong, go back and try again!</p>
                            </div>

                        </form>

                    </div>
                    <div class="info col-xs-12 col-sm-6">
                        <div>
                            <p>If you are interested to my profile or wanted to know further informations about any
                                topic in the blog, please feel free to contact me. </p>
                        </div>
                        <ul>
                            <li>
                                <h3>Address</h3>
                                <p>Paris,France</p>
                            </li>
                            <li>
                                <h3>Phone</h3>
                                <p>+(33) xx xx xx xx</p>
                            </li>
                            <li>
                                <h3>Email</h3>
                                <p>amine.selmi@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- Google Maps -->

        <!-- end Google Maps -->
    </section>

    <!-- END CONTACT SECTION -->

    <!-- START FOOTER SECTION -->
    <% include ../partials/footer.ejs %>
    <!-- END FOOTER SECTION -->


    <!-- START SCRIPTS SECTION -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/bower_components/jquery.localScroll/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>

    <script type="text/javascript" src="/bower_components/owl-carousel/dist/owl.carousel.min.js"></script>

    <script type="text/javascript" src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/scripts/mainpage.js"></script>

    <!-- END SCRIPTS SECTION -->

</body>

</html>