<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>


        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
           <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" id="home">
                    <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                           
                            <div class="intro-content">
                                <h1>HELLO<br>
                      I'm <span>Amine SELMI </span></h1>
                                <h2>I'm a passionate <span>Web developer</span> and <span>Software Developer</span> creating modern and responsive design for <span>Web</span> and <span>Mobile</span>. <br> Let's start and learn more about me.</h2>
                                <p class="social-media hidden-xs">
                                  
                                    <a href="#" class="fa fa-twitter fa-lg" data-toggle="tooltip" title="Twitter"></a> 
                                    <a href="#" class="fa fa-linkedin fa-lg" data-toggle="tooltip" title="Linkedin"></a>
                                 
                                </p>
                                <!-- Social Media Icons [ END ] -->
                                <div class="arrow-down bounce">
                                    <a href="#about">
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--    <div class="item">
                <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                  </div>
                </div>
              </div> -->
            </div>
          
        </div>
        <!-- /.carousel -->


        <!-- About / Skills section -->

        <section id="about">
            <div class="about-background">
                <div class="container">
                    <h2>About Me</h2>
                    <div class="row">
                        <div class="aboutWrapper col-xs-12 col-sm-6">
                            <img src="/images/prof.jpg" alt="" class="img-responsive" alt="Responsive image">
                            <div class="about-text">
                                <h3>I'm a Web developer</h3>
                                <p>Hello! I’m Senior Software/Web Developer specializing in ASP.NET MVC and MEAN STACK development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, and C#. Stng background in project management and customer relations. .</p>
                            </div>
                        </div>
                        <div class="skillsWrapper col-xs-12 col-sm-6">
                            <!-- Skill 1 -->
                            <div id="skill-box">
                                <h4>ASP.NET MVC</h4>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" data-percent="95" style="width: 95%;">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Skill 2 -->
                            <div id="skill-box">
                                <h4>JS/HTML5/CSS3</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="90" style="width: 90%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Skill 3 -->
                            <div id="skill-box">
                                <h4>NODEJS</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="80" style="width: 80%;">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Skill 4 -->
                            <div id="skill-box">
                                <h4>Linux Administration</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="75" style="width: 75%;">
                                        <span>75%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end Skill 4 -->
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end about-background -->
        </section>
        <!-- end About Section -->


        <hr class="featurette-divider">

        <!----Resume Section
        ==================================================--> 
        <section id="resume">
            <h1 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Resume</h1>
              <!-- Education
              =============================================== -->
              <div class="row education">
        
                 <div class="three columns header-col">
                    <h2><span>Education</span></h2>
                 </div>
        
              <div class="nine columns main-col">
                 <div class="education-timeline">
                    <ul class="timeline wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2008 - December 2012</p>
                          <h3>University of Engineering</h3>
                          <h4>Bachelor of Science</h4>
                          <p><strong>Computer Science &amp; Engineering</strong><br>
                             Completed graduation from University of Engineering with the major of Computer Science &amp; Engineering. Achieved the Dean Award for extra-ordinary result.</p>
                        </div>
                      </li>
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2006 - December 2008</p>
                          <h3>College of Awesomeness</h3>
                          <h4>A Level</h4>
                          <p><strong>Grade A++</strong><br>
                             Completed A Level from College of Awesomeness with and finished A Level with A++. Achieved the Principal Award for extra-ordinary result.</p>
                        </div>
                      </li>
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                          <h3>School of Amusement</h3>
                          <h4>O Level</h4>
                          <p><strong>Grade A++</strong><br>
                             Completed O Level from College of Amusement with and finished O Level with A++. Achieved the Principal Award for extra-ordinary result.</p>
                        </div>
                      </li>
                    </ul>  
                 </div> <!-- Education Timeline End --> 
              </div> <!-- main-col end -->
        
              </div> <!-- End Education -->
        
        
              <!-- Work
              ========================================= -->
              <div class="row work">
        
                 <div class="three columns header-col">
                    <h2><span>Employment</span></h2>
                 </div>
        
                 <div class="nine columns main-col">
        
                 <div class="work-timeline">
                    <ul class="timeline">
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2013 - Present</p>
                          <h3>Fantasy IT Kingdom</h3>
                          <h4>Lead Developer</h4>
                          <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                        </div>
                      </li>
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2006 - December 208</p>
                          <h3>Awesome Softwares</h3>
                          <h4>UI/UX Engineer</h4>
                          <p> Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                        </div>
                      </li>
                      <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                          <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                          <h3>Amazing Developers</h3>
                          <h4>Front-End Developer</h4>
                          <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                        </div>
                      </li>
                    </ul>  
                 </div> <!-- Work Timeline End --> 
                 </div> <!-- main-col end -->
        
              </div> <!-- End Work -->
              <!--================== Resume Section End================ -->
        
           </section>

        <!-- START BLOG SECTION -->

        <section id="blog">
            <div class="blog-background">
                <div class="container">
                    <div class="blogWrapper">
                        <div>
                            <h2>Recent Blog Posts</h2>
                            <!-- navigation -->
                            <div class="customNavigation">
                                <ul>
                                    <li id="prev"><i class="fa fa-angle-left"></i></li>
                                    <li id="next"><i class="fa fa-angle-right"></i></li>
                                </ul>
                            </div>
                            <!-- end navigation -->
                        </div>
                        <!-- clearfix -->
                        <div class="clearfix"></div>
                        <!-- end clearfix -->
                        <div class="blog-content">
                            <div id="blogSlider" class="owl-carousel owl-theme">
                                <!-- Post 1 -->
                                <div class="item">
                                    <div class="post-box">
                                        <div class="blog-post">
                                            <div class="imageWrapper">
                                                <a href="#">
                                                    <img src="images/Yeoman.png" alt="">
                                                    <div class="post-date">
                                                        <ul>
                                                            <li>Oct</li>
                                                            <li>23</li>
                                                            <li>2015</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <h3><a href="#"> Scaffolding Web project with Yeoman</a></h3>
                                            <ul class="post-detail">
                                                <li><a href="#">Web developement</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                            </ul>
                                            <p>Yeoman is a generator ecosystem. A generator is basically a plugin that can be run with the `yo` command to scaffold complete projects or useful parts.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-box">
                                        <div class="blog-post">
                                            <div class="imageWrapper">
                                                <a href="#">
                                                    <img src="/images/teamcity-google-cloud.png" alt="">
                                                    <div class="post-date">
                                                        <ul>
                                                            <li>May</li>
                                                            <li>31</li>
                                                            <li>2018</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <h3><a href="#">TeamCity: continuous integration & DevOps with .NET</a></h3>
                                            <ul class="post-detail">
                                                <li><a href="#">DevOps, Continuous Integration</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                            </ul>
                                            <p>Today the technology sector is experiencing a boom throughout the world. There are hundreds of startups launching every day. In order to move fast - these startups need people who are skilled at automating as much as possible. Mostly progressive startups - favor implementing completely automated DevOps pipelines from the get go.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-box">
                                        <div class="blog-post">
                                            <div class="imageWrapper">
                                                <a href="#">
                                                    <img src="/images/Angular7.png" alt="">
                                                    <div class="post-date">
                                                        <ul>
                                                            <li>JAN</li>
                                                            <li>19</li>
                                                            <li>2019</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <h3><a href="#">Web Development with TypeScript 3 and Angular 7</a></h3>
                                            <ul class="post-detail">
                                                <li><a href="#">Front end developement</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                            </ul>
                                            <p>Angular 7 is a web development framework focused on writing component-based applications. TypeScript 3 allows us to develop applications in a higher language than JavaScript, avoiding common mistakes and leveraging the future features of JavaScript. Knowledge of the two make a great combination, helping you write maintainable, clean web applications code using the tools of our choice.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-box">
                                        <div class="blog-post">
                                            <div class="imageWrapper">
                                                <a href="#">
                                                    <img src="/images/mean.png" alt="">
                                                    <div class="post-date">
                                                        <ul>
                                                            <li>Oct</li>
                                                            <li>20</li>
                                                            <li>2017</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <h3><a href="#">Up and Running with Node.js</a></h3>
                                            <ul class="post-detail">
                                                <li><a href="#">Node.js</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                            </ul>
                                            <p>Node.js is a JavaScript framework for writing server-side applications. Its non-IO blocking technology makes it perfect for creating highly scalable web applications built around user interaction. Node.js is a performance efficient server-side platform which makes writing backend code, simple and fun.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-box">
                                        <div class="blog-post">
                                            <div class="imageWrapper">
                                                <a href="#">
                                                    <img src="/images/rhcsa.png" alt="">
                                                    <div class="post-date">
                                                        <ul>
                                                            <li>Dec</li>
                                                            <li>19</li>
                                                            <li>2018</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                            <h3><a href="#">Tips for passing Red Hat Certified System Administrator (RHCSA) </a></h3>
                                            <ul class="post-detail">
                                                <li><a href="#">Linux, Red Hat</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o"></i>2</a></li>
                                            </ul>
                                            <p>Every Red Hat exam is a performance based, hands-on, practical exam. In the Exam your ability to perform routine system administration on Red Hat Enterprise Linux will be tested, Red hat will test you by having you perform routine system administration on Red Hat Enterprise Linux.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Post 2 -->

                        <!-- Post 3 -->
                        <!-- Post 4 -->

                        <!-- Post 5 -->

                        <!-- end Post 5 -->
                    </div>
                </div>
            </div>
            </div>
            <!-- end container -->
            </div>
        </section>

        <!-- END BLOG SECTION -->

        <hr class="featurette-divider">

        <!-- START CONTACT SECTION -->

        <section id="contact">
            <div class="contact-background">
                <div class="container">
                    <h2>Get In Touch</h2>
                    <div class="row">
                        <div class="contact-form col-xs-12 col-sm-6">

                            <form method="post" id="contactform">

                                <div class="input-style">
                                    <input type="text" id="name" name="name" placeholder="Name">
                                </div>

                                <div class="input-style">
                                    <input type="email" id="email" name="email" placeholder="E-Mail">
                                </div>

                                <div class="text-style">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>

                                <input type="submit" id="submit" class="submit-style" name="submit" value="Send Message">

                                <div class="submit-result">
                                    <p id="success" >Your Message has been sent!</p>
                                    <p id="error">Something went wrong, go back and try again!</p>
                                </div>

                            </form>

                        </div>
                        <div class="info col-xs-12 col-sm-6">
                            <div>
                                <p>If you are interested to my profile or wanted to know further informations about any topic in the blog, please feel free to contact me. </p>
                            </div>
                            <ul>
                                <li>
                                    <h3>Address</h3>
                                    <p>Paris,France</p>
                                </li>
                                <li>
                                    <h3>Phone</h3>
                                    <p>+(33) xx xx xx xx</p>
                                </li>
                                <li>
                                    <h3>Email</h3>
                                    <p>amine.selmi@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- Google Maps -->

            <!-- end Google Maps -->
        </section>

        <!-- END CONTACT SECTION -->

        <!-- START FOOTER SECTION -->
        <% include ../partials/footer.ejs %>
            <!-- END FOOTER SECTION -->


            <!-- START SCRIPTS SECTION -->
            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

            <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <script type="text/javascript" src="/bower_components/jquery.localScroll/jquery.localScroll.min.js"></script>
            <script type="text/javascript" src="/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>

            <script type="text/javascript" src="/bower_components/owl-carousel/dist/owl.carousel.min.js"></script>

            <script type="text/javascript" src="/scripts/mainpage.js"></script>
            <!-- END SCRIPTS SECTION -->

</body>

</html>
