<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/prof.jpg">
    </a>
    <div class="intro-content">
                <h1>HELLO<br>
                I'M <span>Mohamed Amine </span> SELMI</h1>
                <h2>Microsoft Web developer/Frontend developer</h2>
                <p class="social-media hidden-xs">
                    <a href="#" class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook"></a>
                    <a href="#" class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter"></a>
                    <a href="#" class="fa fa-plus" data-toggle="tooltip" title="" data-original-title="Google+"></a>
                    <a href="#" class="fa fa-linkedin" data-toggle="tooltip" title="" data-original-title="Linkedin"></a>
                    <a href="#" class="fa fa-behance" data-toggle="tooltip" title="" data-original-title="Behance"></a>
                    <a href="#" class="fa fa-flickr" data-toggle="tooltip" title="" data-original-title="Flicker"></a>
                    <a href="#" class="fa fa-instagram" data-toggle="tooltip" title="" data-original-title="Instagram"></a>
                </p>
                
                <!-- Social Media Icons [ END ] -->
                
            </div>
             <p><a class="btn btn-primary btn-lg" href="#" role="button">Dowload My Resume</a></p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
 Section under Contruction
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> SKILLS</h3>
      <ul>
        <li>HTML5.</li>

        <li>CSS3.</li>
        <li>JavaScript</li>
        <li>Angularjs</li>
        <li>Expressjs</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home" target="_blank">Heroku</a></li>
        <li><a href="http://www.w3schools.com/html/" target="_blank">HTML Tutorial - W3Schools</a></li>
        <li><a href="http://www.bloggedbychris.com/2012/09/19/microsoft-exam-70-480-study-guide/" target="_blank">Microsoft-exam-70-480-study-guide</a></li>

      </ul>
    </div>
  </div> 
   <div class="alert alert-info text-center" role="alert">
   Section under Contruction
  </div>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
